{% from 'bootstrap/form.html' import render_form %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign In</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/assets/css2/style.css">
    {{ bootstrap.load_css() }}
</head>
<body>

    <div class="main">

        < class="signup">

            <div class="container">

                <div class="signup-content">
                    <h1 style="align:center;">login to your account</h1>
                       {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li style="color:red;list-style:none;font-size:25px">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}


                    {{render_form(form, novalidate=True)}}
                    <p class="loginhere">
                        you dont have an account ? <a href="{{url_for('register')}}" class="loginhere-link">register here</a>
                    </p>
                </div>
            </div>
        </section>

    </div>


</body>
</html>